body {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: Verdana;
}
section{
  margin: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;  
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
   font-weight: 500;
   font-size: 14px;
   color: rgb(255, 255, 255);
}
.create h2 {
  padding-top: 15px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.create input, .create textarea, .create select {
  width: 100%;
 padding: 10px 10px;
 margin-bottom: 5px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);

  background-color: rgba(255,255,255,0.3);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  transition: 0.1s;
}
  input:focus {
    text-shadow: 1px 1px 1px black;
  outline:none;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid rgb(0, 255, 200);
  transition-duration: 200ms;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  input:hover {
   
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
 
 .pushable {
   margin-top: 5px;
  background: hsl(160deg 100% 32%);
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  transition: 0.1s;
}
.marginLeft{
  margin-left: 10px;
}
.smallButton {
  font-size: 13px;
  padding: 5px 5px;
}
.bigButton{
  font-size: 16px;
  padding: 8px 24px;
}
.front {
  display: block;
  border-radius: 8px;
  background: hsl(170deg 100% 47%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  transform: translateY(-4px);
}

.pushable:active .front {
  transform: translateY(-2px);
  outline:none;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
.pushable:hover {
  
  transition: filter 250ms;
  filter: brightness(107%);
  transition: 0.1s;
  transform: translateY(-3px);
}
.navbar {
  padding-top: 20px;
  width:100%;
  table-layout: fixed;
}
.navbar h1 {
  color: #f1356d;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.navbar .links {
  margin-left: auto; 
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.navbar a {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.3);
}
.navbar a:hover  {
  background-color: rgba(255,255,255,0.23);
  color:rgb(219, 236, 240);
}
.navbar a:link { 
  text-decoration: none; 
}
.messages{
  display: inline-block;
  justify-content:center;
}
 
.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  text-align: center;
}
 
.success{
  display: block;
  border-radius: 30px;
  border: 2px solid darkorange;
  background-position:center;
  background-color:rgb(255, 248, 230)  ;
  color: darkorange;
  width: fit-content;
  height: fit-content;
  text-align: top;
}
.success h1{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkorange;
  font-size: larger;
  padding-left: 10px;
  padding-right: 10px;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 8px;
  background-color: rgb(27, 236, 219);
  font-size: 12px;
  border: 0px  #ffffff;
  outline:none;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s;
}
.swal-button:hover {

  transition: 0.1s;
  transform: translateY(-2px);
}
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
table {
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  
}
td {
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
td:hover {
  overflow: visible;
}
